# ~/.gitconfig from @boblet
# initially based on http://rails.wincent.com/wiki/Git_quickstart
#  https://gist.github.com/pksunkara/988716

[user]
	email = atul.verma@tabcorp.com.au
	name = Atul Verma
	signingkey = 8B3E985D2CF840B6
[push]
	default = simple
[color]
	ui = true
	interactive = auto

[core]
  editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /Users/atul/.gitignore
	legacyheaders = false # >git 1.5
	quotepath = false
# http://stackoverflow.com/questions/136178/git-diff-handling-long-lines
	pager = diff-so-fancy | less --tabs=4 -RFX
# if ↑ doesn’t work, try: pager = less -+$LESS -FRX
[diff]
	tool = vimdiff
	compactionHeuristic = true
[repack]
	usedeltabaseoffset = true # >git 1.5
[alias]
	s = status
	a = !git add . && git status
	au = !git add -u . && git status
	aa = !git add . && git add -u . && git status
	c = commit
	cm = commit -m
	ca = commit --amend # careful
	ac = !git add . && git commit
	acm = !git add . && git commit -m
	l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	ll = log --stat --abbrev-commit
	d = diff --color-words
	dh = diff --color-words head
  master = checkout master
  #############
	sa = stash apply
	sc = stash clear
	sd = stash drop
	sl = stash list
	sp = stash pop
	ss = stash save
	sw = stash show
	#############
	w = show
	wp = show -p
	wr = show -p --no-color
	#############
  #############
	ls = ls-files
	lsf = "!git ls-files | grep -i"
  #############
	co = checkout
  #############
	pl = pull
	plu = pull -u
	plo = pull origin
	plp = pull upstream
	plom = pull origin master
	plpm = pull upstream master
	#############
	pb = pull --rebase
	pbo = pull --rebase origin
	pbp = pull --rebase upstream
	pbom = pull --rebase origin master
	pbpm = pull --rebase upstream master
	#############
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
  rbs = rebase --skip

	spull = svn rebase
	spush = svn dcommit
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	stashq = -c commit.gpgsign=false stash
[github]
	user = [GH username]
	token = [API token from https://github.com/account/admin]
[diff]
# git does copy/rename *detection*. if you want it to track copies/renames:
# http://stackoverflow.com/questions/1043388/record-file-copy-operation-with-git
#	renames = copies
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[fetch]
	prune = true
[commit]
	gpgsign = true
[pager]
	log =  diff-so-fancy | less --tabs=4 -RFX #diff-highlight | less
	show = diff-so-fancy | less --tabs=4 -RFX #diff-highlight | less
	diff = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-highlight
[gpg]
	program = /usr/local/bin/gpg
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	first-run = false
